@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
    color: #333;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}

#togetherDetail-wrap {
    margin: 30px auto;
    width: 1200px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    position: relative;

    /* -----지우기----- */
    /* margin-bottom: 50px; */
    /* border: 2px solid blue; */
}
/* -----지우기----- */
/* #togetherDetail-wrap > * {
    border: 1px solid red;
} */

#route-wrap {
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: 24px;
}
#route-wrap > img {
    width: 20px;
    height: 20px;
    transform: rotate(90deg);
}

#detail-wrap {
    display: flex;
    column-gap: 50px;
}
#img-wrap {
    position: relative;
}
#img {
    width: 330px;
    height: 460px;
    background: url(../img/imageSrc.png) no-repeat center / cover;
    border-radius: 10px;
}
#zzimBtn {
    position: absolute;
    right: 5px;
    bottom: 0;
}
svg {
    width: 45px;
}
#heart {
    fill: white;
    stroke: #333;
    stroke-width: 60px;
    cursor: pointer;
    transition: 0.2s all;
}
#heart:hover {
    fill: rgb(255, 80, 80);
}

#txt-wrap {
    display: flex;
    flex-direction: column;
    row-gap: 30px;

    /* -----지우기----- */
    /* border: 1px solid red; */
}
#txt-title {
    font-size: 30px;
    font-weight: 600;
}
#txt-list {
    display: flex;
    column-gap: 40px;
}
#txt-list p {
    height: 55px;
    line-height: 55px;
}
#txt-list-title {
    font-size: 20px;
    font-weight: 500;
}
#txt-list-content {
    font-size: 18px;
}
#txt-list-content > :last-child > a:hover {
    border-bottom: 1px solid #333;
}

#map-wrap {
    width: 480px;
    height: 310px;
    background-color: lightgray;
    border-radius: 5px;
    position: absolute;
    right: 0;
    bottom: 0;
}
